<component name="libraryTable">
  <library name="mybatis-3.2.2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../mybatis02/lib/mybatis-3.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../mybatis02/lib/mysql-connector-java-5.1.37-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>